@use 'variable' as var;

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var.$grey-light-1;
  box-shadow: var.$dark-shadow;

  @media only screen and (max-width: var.$bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 2px solid var.$grey-light-2;
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: var.$bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 12rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: var.$bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var.$grey-dark-1;
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var.$grey-light-1;
  border-bottom: 2px solid var.$grey-light-2;
  font-size: 1.4rem;

  @media only screen and (max-width: var.$bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: var.$bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var.$light-shadow;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: var.$bp-medium) {
    margin-right: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: var.$bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-review {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
