//! COLOURS

$primary: #eb2f64;
$primary-light: #ff3366;
$primary-dark: #ba265d;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

// ! UTILITIES
$dark-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$light-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

//! FONT WEIGHT
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 600;
